In [1]:
from selenium import webdriver

In [46]:
driver=webdriver.Edge()

In [64]:
driver.get("https://www.cars24.com/buy-used-car?sort=bestmatch&serveWarrantyCount=true&gaId=1561791518.1707724051&storeCityId=2378&pinId=400001")

In [65]:
import time

In [66]:
from bs4 import BeautifulSoup

In [67]:
Brand=[]
Price=[]
Fuel=[]
Kilometer=[]
Transmission=[]

In [68]:
time.sleep(15)

In [72]:
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

In [75]:
soup=BeautifulSoup(driver.page_source)

In [76]:
section=soup.find('div',class_="_2ujGx")
#section.text

In [77]:
for i in section.find_all('div',class_="_2YB7p"):
    Brand.append(i.find('h3',class_="_11dVb").text)
    Price.append(i.find('strong',class_="_3RL-I").text)
    sec1=i.find('ul',class_="_3J2G-")
    Kilometer.append(sec1.find('li').text)
    Fuel.append(sec1.find_all('li')[2].text)
    Transmission.append(sec1.find_all('li')[4].text)

In [78]:
import pandas as pd

In [79]:
df=pd.DataFrame()
df["brand"]=Brand
df["selling price"]=Price
df["kilometer"]=Kilometer
df["Fuel Type"]=Fuel
df["Transmission"]=Transmission

In [80]:
df

,brand,selling price,kilometer,Fuel Type,Transmission
0,2021 Maruti Swift VXI,₹5.94 Lakh,"28,286 km",Petrol,Manual
1,2014 Honda Amaze 1.5L I-DTEC SX,₹3.83 Lakh,"1,09,690 km",Diesel,Manual
2,2014 Toyota Etios V,₹3.93 Lakh,"61,614 km",Petrol,Manual
3,2011 Hyundai i10 SPORTZ 1.2,₹2.52 Lakh,"32,786 km",Petrol,Manual
4,2012 Honda Brio S MT,₹2.45 Lakh,"62,948 km",Petrol,Manual
...,...,...,...,...,...
772,2021 Maruti Celerio VXI (O) CNG,₹5.03 Lakh,"58,709 km",CNG,Manual
773,2017 Hyundai Creta SX PLUS 1.6 DIESEL,₹9.21 Lakh,"42,819 km",Diesel,Manual
774,2016 Maruti Baleno ZETA CVT PETROL 1.2,₹5.44 Lakh,"33,818 km",Petrol,Automatic
775,2019 Tata Tiago XZA PLUS PETROL,₹5.73 Lakh,"42,876 km",Petrol,Automatic
776,2016 Hyundai Grand i10 SPORTZ 1.2 KAPPA VTVT,₹4.39 Lakh,"13,996 km",Petrol,Manual

In [81]:
df.to_csv('Mumbai.csv')